<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="300" src="../assets/images/starwars.png" />
<div class="">
  <select class="" name=""  >
    <option value="" *ngFor ="let result of swrequestservice.results" (click)="this.swrequestservice.envoi(result)">{{result}}</option>
  </select>



</div>
<ul>


<li  *ngFor ="let resultat of swrequestservice.resultatEnvoi" (click)="affichedetail(resultat['url'])">
{{resultat[swrequestservice.resultatEnvoiNon]}}


</li>
</ul>
